@inherits LayoutComponentBase
@using WebConsulting.Layouts

<div class="page">
    <Header />
    <Breadcrumbs />
    <main class="main">
        @Body
    </main>
    <Footer />
</div>

@code {
    @inject IJSRuntime JSRuntime
}
