@page "/MapSite"
@inject IJSRuntime JSRuntime

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги - Reputation</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">

    <section class="bg-white py-8">
    <div class="container mx-auto">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Карта сайта</h2>
        <ul class="list-disc list-inside text-lg">
            <li>
                <a href="/" class="text-orange-500 hover:underline">О компании</a>
            </li>
            <li>
                <a href="/services" class="text-orange-500 hover:underline">Услуги</a>
                <ul class="list-disc list-inside ml-4 text-lg">
                    <li>
                        <a href="/Services" class="text-orange-500 hover:underline font-bold">Консалтинг</a>
                        <ul class="list-[circle] list-inside ml-6 text-lg">
                            <li><a href="/services/Management" class="text-orange-500 hover:underline">Управленческий консалтинг</a></li>
                                <li><a href="/services" class="text-orange-500 hover:underline">Организация менеджмента</a></li>
                                <li><a href="/Services" class="text-orange-500 hover:underline">Оптимизация процессов</a></li>
                                <li><a href="/Services" class="text-orange-500 hover:underline">Консалтинг по процессному управлению</a></li>
                        </ul>
                    </li>
                    <li>
                            <a href="/Services" class="text-orange-500 hover:underline font-bold">Организационное построение</a>
                        <ul class="list-[circle] list-inside ml-6 text-lg">
                                <li><a href="/Services" class="text-orange-500 hover:underline">Оптимизация структуры</a></li>
                                <li><a href="/Services" class="text-orange-500 hover:underline">Системы мотивации</a></li>
                                <li><a href="/Services" class="text-orange-500 hover:underline">Регламенты и инструкции</a></li>
                        </ul>
                    </li>
                    <li>
                            <a href="/Services" class="text-orange-500 hover:underline font-bold">Повышение эффективности</a>
                        <ul class="list-[circle] list-inside ml-6 text-lg">
                                <li><a href="/Services" class="text-orange-500 hover:underline">Система показателей KPI</a></li>
                                <li><a href="/Services" class="text-orange-500 hover:underline">Оптимизация процессов</a></li>
                                <li><a href="/Services" class="text-orange-500 hover:underline">Реинжиниринг бизнес-процессов</a></li>
                        </ul>
                    </li>
                    <li>
                            <a href="/Services" class="text-orange-500 hover:underline font-bold">Бизнес-анализ</a>
                        <ul class="list-[circle] list-inside ml-6 text-lg">
                                <li><a href="/Services" class="text-orange-500 hover:underline">Анализ данных</a></li>
                                <li><a href="/Services" class="text-orange-500 hover:underline">Исследование конкурентов</a></li>
                        </ul>
                    </li>
                    <li>
                            <a href="/Services" class="text-orange-500 hover:underline font-bold">Система менеджмента качества ISO 9001</a>
                        <ul class="list-[circle] list-inside ml-6 text-lg">
                                <li><a href="/Services" class="text-orange-500 hover:underline">Аудит СМК</a></li>
                                <li><a href="/Services" class="text-orange-500 hover:underline">Внедрение СМК</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Contacts" class="text-orange-500 hover:underline">Контакты</a>
            </li>
                <li>
                    <a href="/Reviews" class="text-orange-500 hover:underline">Отзывы</a>
                </li>
        </ul>
    </div>
    </section>


</body>
</html>
